.header {
  margin-bottom: 14px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header__nav {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.header__nav .link {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
  position: relative;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header__nav .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  background: #333;
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

.header__nav .link:hover::after {
  transform: scaleX(1);
}

.header__user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__userName {
  font-size: 14px;
  margin-bottom: 0;
  margin-right: 4px;
}

.header__logStatus {
  font-size: 14px;
}
