.header {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.headerNav {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.headerNav .link {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
  position: relative;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border: none;
  box-shadow: none;
}

.headerNav .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  background: #333;
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

.headerNav .link:hover::after {
  transform: scaleX(1);
}
