.cart {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.cartHeader {
  margin-bottom: 8px;
  font-size: 24px;
}

.formContainer {}

.cartItems {
  margin: 0;
  padding: 0;
  list-style: none;
}
