.product {
  padding: 1rem;
  display: flex;
}

.productImage {
  width: 5rem;
}

.productWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8px;
}

.productTitle {
}

.productFooter {

}

.productPrice {

}
